body {
  font-family: Verdana;
  margin: 0px;
}

header {
  background-color: #6395ec;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION TITLES AND LIST */

section {
  padding: 30px;
}

section > h2 {
  margin: 0px;
  color: #6395ec;
}

section li {
  padding: 10px;
  list-style-type: circle;
}

.importante {
  text-decoration: underline;
  font-weight: bold;
}

/* TABLE CSS */

table {
  padding: 20px;
}

table * {
  padding: 20px;
  border: white;
}

thead {
  background-color: #6395ec;
  color: white;
}

/* INTERCALADO DE COLORES DEL FONDO DE LA TABLA */

tbody > tr:nth-child(even) {
  background-color: #a3c0f8;
}

tbody > tr:nth-child(even) > th {
  background-color: #89b2f4;
}

tbody > tr:nth-child(odd) {
  background-color: #d7e5fe;
}

tbody > tr:nth-child(odd) > th {
  background-color: #a3c0f8;
}

/* STYLE DE "DESCANSO" */

#descanso {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
